SERVER_NAME=Friends SMP
LEVEL_NAME=Bedrock level
GAMEMODE=survival
DIFFICULTY=easy
MAX_PLAYERS=10
ONLINE_MODE=true
ALLOW_LIST=false
WHITE_LIST=false
ALLOW_CHEATS=false
VIEW_DISTANCE=12
TZ=Asia/Kolkata
PLAYIT_SECRET_KEY=
